NODE_ENV = development
GENERATE_SOURCEMAP = true

REACT_APP_ENV = development

REACT_APP_CENTRALIZED_SERVER_URL=https://agent.testnet.nulink.org/bk
# current storage through the background, REACT_APP_IPFS_NODE_URL will not work
REACT_APP_IPFS_NODE_URL=https://agent.testnet.nulink.org/nuipfs

REACT_APP_BSC_TESTNET_PORTER_URI=https://agent.testnet.nulink.org/porter
REACT_APP_BSC_TESTNET_WEB3_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/

#crosschain use main chain's porter
# REACT_APP_CONFLUX_ESPACE_TESTNET_PORTER_URI=https://agent.testnet.nulink.org/porter
REACT_APP_CONFLUX_ESPACE_TESTNET_WEB3_RPC_URL=https://evmtestnet.confluxrpc.com

REACT_APP_POLYGON_TESTNET_WEB3_RPC_URL=https://rpc-mumbai.polygon.technology/

#REACT_APP_XCHAIN_TESTNET_WEB3_RPC_URL=https://testrpc.x1.tech/ # This cannot be used, there is a problem with it.
REACT_APP_XCHAIN_TESTNET_WEB3_RPC_URL=https://x1testrpc.okx.com/

REACT_APP_HOLESKY_TESTNET_WEB3_RPC_URL=https://rpc.holesky.ethpandaops.io/

# centeral server username password
REACT_APP_SERVER_USERNAME=nulink
REACT_APP_SERVER_PASSWORD=privacyshareisgood

REACT_APP_FORCE_DEV_ENV=false

REACT_APP_STORAGE=indexDB

# contract for envrionment V11
REACT_APP_BSC_TESTNET_CONTRACT_NULINKTOKEN_ADDRESS=0x06A0F0fa38AE42b7B3C8698e987862AfA58e90D9
REACT_APP_BSC_TESTNET_CONTRACT_SUBSCRIPTMANAGER_ADDRESS=0xCB473481e185a86Fd94088657AE67eFDB8973E41
REACT_APP_BSC_TESTNET_BNB_ADDRESS=0x0000000000000000000000000000000000000001

# Cross-chain as long as the main chain has the nlk token, the side chain does not
REACT_APP_CONFLUX_ESPACE_TESTNET_CONTRACT_NULINKTOKEN_ADDRESS=
REACT_APP_CONFLUX_ESPACE_TESTNET_CONTRACT_SUBSCRIPTMANAGER_ADDRESS=0xxxxxxx
REACT_APP_CONFLUX_ESPACE_TESTNET_CFX_ADDRESS=0x0000000000000000000000000000000000000001

# Cross-chain as long as the main chain has the nlk token, the side chain does not
REACT_APP_POLYGON_TESTNET_CONTRACT_NULINKTOKEN_ADDRESS=
REACT_APP_POLYGON_TESTNET_CONTRACT_SUBSCRIPTMANAGER_ADDRESS=0xxxxxxx
REACT_APP_POLYGON_TESTNET_MATIC_ADDRESS=0x0000000000000000000000000000000000000001

# Cross-chain as long as the main chain has the nlk token, the side chain does not
REACT_APP_XCHAIN_TESTNET_CONTRACT_NULINKTOKEN_ADDRESS=
REACT_APP_XCHAIN_TESTNET_CONTRACT_SUBSCRIPTMANAGER_ADDRESS=0xxxxxxx
REACT_APP_XCHAIN_TESTNET_OKB_ADDRESS=0x0000000000000000000000000000000000000001

# ETH_TESTNET
# Cross-chain as long as the main chain has the nlk token, the side chain does not
REACT_APP_HOLESKY_TESTNET_CONTRACT_NULINKTOKEN_ADDRESS=0x49D0Dbcd6c5F7E9ce1b9c6B74648576bfECB97cb
REACT_APP_HOLESKY_TESTNET_CONTRACT_SUBSCRIPTMANAGER_ADDRESS=0xdD17E17072998AF19346D587F47e2d4f166568F7
REACT_APP_HOLESKY_TESTNET_ETH_ADDRESS=0x0000000000000000000000000000000000000001
