@import '@@/src/common/common.scss';

.text-input {
    width: 100%;
    display: flex;
    padding: 10px 14px;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FAF9FF;
    border: 1px solid #F2EFFF;
    border-radius: 4px;
    margin: 10px 0;
}

.mnemonic-input {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}